APP_DOMAIN=dev.localhost

DB_DRIVER=mysql
DB_HOST=mysql
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=zimma

GOOSE_DRIVER=mysql
GOOSE_DBSTRING=mysql://root:@localhost:3306/zimma
GOOSE_MIGRATION_DIR=internal/migrations
