APP_DOMAIN=dev.localhost
APP_ENV=local
APP_DEBUG=true
PORT=8080
APP_KEY=
APP_PUBLIC_KEY=
GIN_MODE=debug # debug, release, or test

DB_DRIVER=postgres
DB_HOST=postgres
DB_PORT=5432
DB_USERNAME=upostgres
DB_PASSWORD=ppostgres
DB_DATABASE=zimma

CORS_ALLOWED_ORIGINS=http://${APP_DOMAIN}

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://upostgres:ppostgres@postgres:5432/zimma?sslmode=disable
GOOSE_MIGRATION_DIR=internal/migrations
